@import "colors.css";

* {
  border: 0px;
  border-radius: 0;
  font-family: FiraCode Nerd Font;
  font-weight: bold;
  font-size: 18px;
  min-height: 0px;
}

window#waybar {
  background: @base00;
}

tooltip {
   background-color: @base00;
   padding: 10px;
   border: 5px;
}

tooltip label {
    color: @base04;
}

/* modules left */
#workspaces {
   background: @base00;
   padding-right: 15px;
}

#workspaces button {
  color: @base01;
  padding-right: 65px;
  padding-left: 65px;
}

#workspaces button.focused {
  background: @base06;
  color: @base00;
}

#workspaces button:hover {
  background: @base07;
  color: @base00;
}

#tray, #mode {
   padding-right: 15px;
   transition: smooth;
}

/* modules center */
#clock {
  color: @base04;
  padding: 0px 5px;
  margin: 5px 0px 5px 5px;
}

/* modules right */
#cpu, #memory, #temperature, #network, #pulseaudio, #gamemode {
   color: @base04;
   padding: 0px 0px 0px 15px;
}

#network, #gamemode {
    padding-right: 5px;
}

#temperature.critical {
    color: @base0F;
}

/* last module on the right */
#temperature {
   color: @base04;
   padding-left: 15px;
   padding-right: 10px;
}

