@import "colors.css";

/* Set global scale baseline here (GTK doesn't support :root) */
window#waybar {
  font-size: 16px; /* base UI scale — sway output scale will multiply this */
  background: @base00;
}

* {
  border: 0;
  border-radius: 0;
  font-family: "FiraCode Nerd Font";
  font-weight: bold;
  font-size: 1rem; /* scales relative to the above base size */
  min-height: 0;
}

tooltip {
  background-color: @base00;
  padding: 0.55rem;
  border: 0.28rem;
}

tooltip label {
  color: @base04;
}

/* modules left */
#workspaces {
  background: @base00;
  padding-right: 0.83rem;
}

#workspaces button {
  color: @base01;
  padding-left: 3rem;
  padding-right: 3rem;
}

#workspaces button.focused {
  background: @base06;
  color: @base00;
}

#workspaces button:hover {
  background: @base07;
  color: @base00;
}

#tray, #mode {
  padding-right: 1rem;
}

/* modules center */
#clock {
  color: @base04;
  padding: 0 0.28rem;
  margin: 0.28rem 0 0.28rem 0.28rem;
}

/* modules right */
#cpu, #memory, #temperature, #network, #pulseaudio, #gamemode {
  color: @base04;
  padding-left: 1rem;
}

#network, #gamemode {
  padding-right: .4rem;
}

#temperature.critical {
  color: @base0F;
}

#temperature {
  color: @base04;
  padding-left: 0.83rem;
  padding-right: 0.83rem;
}
