@import "colors.css";

* {
  border: 0px;
  border-radius: 0;
  font-family: FiraCode Nerd Font;
  font-weight: bold;
  font-size: 13px;
  min-height: 0px;
}

window#waybar {
  background: @base00;
}

tooltip{
   padding: 10px;
   border: 5px;
   border-radius: 5px;
}

/*modules left*/

#workspaces {
   background: @base00;
   padding-right: 5px;
}

#workspaces button {
  color: @base01;
  padding-right: 22px;
  padding-left: 22px;
}

#workspaces button.focused {
  background: @base06;
  color: @base00;
}

#workspaces button.active {
   background: @base0F;
   color: @base00;
}

#workspaces button:hover {
  background: @base07;
}

#tray {
   padding: 0px 10px 0px 10px;
   transition: smooth;
}

/* modules center*/

#clock {
  color: @base04;
  padding: 0px 5px;
  margin: 5px 0px 5px 5px;
}

/* modules right*/

#cpu, #memory, #temperature, #network, #pulseaudio{
   color: @base04;
   margin: 0px 15px 0px 0px;
}
